<% content_for :sidebar do %>
<div class="well sidebar-nav">
  <h3>Mapping</h3>
  <ul class="nav nav-list">
    <li class="nav-header">Demos</li>
    <li><%= link_to "Polymaps", mapping_polymap_path %></li>
  </ul>
</div><!--/.well -->
<% end %>